img {
  width: 50px;
  border: 3px solid black;
}
#face {
  width: 400px;
  border: 3px solid blue;
	z-index: 1;}

#ears1 {
	position: fixed;
  	border: 3px solid #73AD21;
   	width: 400px;
   	left: 0px;
   	top: 50px;
   	z-index: 2;
	}

#eyes1 {position: relative;
  	right: 310px;
  	border: 3px solid #73AD21;
   	width: 200px;
	bottom: 240px;
	z-index: 4;
  }

#mouth1 {position: absolute;
  left: 160px;
  	border: 3px solid #73AD21;
   	width: 100px;
	top: 300px;
	z-index: 5;
  }

  #hat {position: fixed;
  left: 70px;
  	border: 3px solid #73AD21;
   	width: 300px;
	top: -105px;
	z-index: 6;
  }